name: Schema Validation

on:
  push:
    branches: [ main ]
    paths:
      - 'slides/**/slides/*.json'
      - 'slides/**/recipes/*.json'
      - 'schemas/*.json'
  pull_request:
    branches: [ main ]
    paths:
      - 'slides/**/slides/*.json'
      - 'slides/**/recipes/*.json'
      - 'schemas/*.json'

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run Schema Validation
        run: python validate_schemas.py
